<div>
  {{!-- title --}}
  <h1>{{title}}</h1>
  <h1>
    {{!-- turns the nam into a link to the individual post --}}
    {{#if id}}
      <a href="/post/{{id}}">{{name}}</a>
    {{else}}
      {{name}}
    {{/if}}

    </h1>
  {{!-- desc --}}
  <p>{{body}}</p>

  <p>Posted at: {{formatDate date_created}}</p>

  <p>Created by: {{user}}</p>
</div>