<div>
  {{!-- title --}}
  <h1>{{title}}</h1>
  <h1>
    {{!-- turns the name into a link to the individual post --}}
    {{#if id}}
      <a href="/post/{{id}}">{{name}}</a>
    {{else}}
      {{name}}
    {{/if}}

    </h1>
  {{!-- desc --}}
  <h3>{{body}}</h3>

  <p>Posted at: {{formatDate date_created}}</p>

  <p>Created by: {{user}}</p>

{{#if logged_in}}
{{!-- ADD the associated comments --}}
      {{>comment_form}}
    {{else}}
<a href="/home/login">Login to leave a comment</a>
    {{/if}}
</div>